<h4>Edit Item</h4>

<%= form_for([@category, @item]) do |f| %>
    <div class="left">
    </div>
    <br>
    
    <table >

            <thead>
              <tr>
                  <th>Item Name:</th>
                  <th>Item Price: </th>
                  <th>Item Color:</th>
                  <th>Item Size:</th>
                  <th>Item Quantity:</th>


              </tr>
            </thead>
            <tbody>
              <tr>
                <td> <%= f.text_field :name %><br></td>
                <td>$ <%= f.number_field :price %></td>
                <td><%= f.select :color, options_for_select(["Black", "White", "Green", "Yellow", "Blue", "Red"]) %></td>
                <td><%= f.select :size, options_for_select(["Small", "Medium","Large", "XLarge"]) %></td>
                <td><input type="number" max="10" min="0" name="customer[items][][quantity]" id="<%= @item.id %>" value="0"></td>


              </tr>
              </tbody>
             </table>
         <%= f.hidden_field :creator_id, value: session[:user_id] %> 
         <a class="waves-effect waves-#424242 grey darken-2 waves-light btn" style="float: right;"><%= f.submit %></a> 

        <script>
        $(document).ready(function(){
    $('select').formSelect();
  });
     </script>

        <% end %>
        <br>
        <br>
