<!DOCTYPE html>
<html>
  <head>
    <title>MirrorMirror</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:alert] %>
    <%= flash[:alert] %>
    <% end %>
  <br>
  <br>
  <% unless logged_in? %>
<p>Dont have an account? <%= link_to "Sign Up",'/signup' %></p>
  <p>Already have an account? <%= link_to "Sign In", '/login' %></p>
 <p> View all items <%= link_to "All items", items_path %> </p>
 <p> <%= link_to('Log in with Facebook!', '/auth/facebook') %> </p>

  <% else %>
  <p><%= link_to "Log Out", '/logout'%></p>
  <%= link_to "", new_item_path(@item)%>
  <%= link_to "Women", category_path(1)%>
  <%= link_to "Men", category_path(2)%>
  <%= link_to "Your Bag", customer_items_path %>






  <% end %>

    <%= yield %>

  </body>
</html>
